@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-stretch: 50% 200%;
    font-display: swap;
}

:root {
    /** Base colors */
--clr-dark-a0: #000000;
--clr-light-a0: #ffffff;

/** Dark theme primary colors */
--clr-primary-a0: #ffb22c;
--clr-primary-a10: #ffba49;
--clr-primary-a20: #ffc362;
--clr-primary-a30: #ffcb79;
--clr-primary-a40: #ffd490;
--clr-primary-a50: #ffdca6;

/** Dark theme surface colors */
--clr-surface-a0: #121212;
--clr-surface-a10: #282828;
--clr-surface-a20: #3f3f3f;
--clr-surface-a30: #575757;
--clr-surface-a40: #717171;
--clr-surface-a50: #8b8b8b;

/** Dark theme tonal surface colors */
--clr-surface-tonal-a0: #272017;
--clr-surface-tonal-a10: #3c352c;
--clr-surface-tonal-a20: #514b43;
--clr-surface-tonal-a30: #68625b;
--clr-surface-tonal-a40: #7f7a74;
--clr-surface-tonal-a50: #98938e;           
}

* {
    font-family: "Inter", Arial, sans-serif;
    color: var(--clr-light-a0);
}

body {
    background-color: var(--clr-surface-a0);
}

ul {
    list-style-type: none;             
    padding: 0;
    margin: 0;
}

li {
    padding: 10px 20px;                
    font-size: 16px;                  
    color: var(--clr-light-a0);           
    background-color: var(--clr-surface-a0); 
}

li:nth-child(even) {
    background-color: var(--clr-surface-a10); 
}

li:nth-child(odd) {
    background-color: var(--clr-surface-a0); 
}

button {
    padding: 12px 20px;        
    display: flex;
    align-items: center;
    gap: 10px;       
    font-size: 15px;                  
    font-weight: 900;                 
    border: 2px solid var(--clr-primary-a20);                    
    border-radius: 8px;     
    color: var(--clr-dark-a0);         
    background-color: var(--clr-primary-a20); 
    cursor: pointer;                 
    text-align: center;              
    outline: none;                   
    transition: all 0.05s ease;        
}

button:hover {
    background-color: var(--clr-primary-a10); 
    border-color: var(--clr-primary-a10);
}

button.secondary {
    background-color: var(--clr-surface-a0);
    color: var(--clr-primary-a20);                 
    border: 2px solid var(--clr-primary-a20);
}

button.secondary:hover {
    background-color: var(--clr-primary-a10); 
    border-color: var(--clr-primary-a10);
    color: var(--clr-dark-a0);                               
}

button:disabled {
    background-color: transparent;    
    border: 2px solid var(--clr-surface-a50);
    color: var(--clr-surface-a50);              
    cursor: not-allowed;                        
    box-shadow: none;                             
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.title-sage {
    color: var(--clr-primary-a30);
    font-size: 20px;
}

.title-page {
    color: var(--clr-light-a0);
    font-size: 40px;
}
